<h1>Circuits</h1>

<ul>
  {{#each circuits}}
  <li>{{country}} - <a href="{{url}}">{{name}}</a> - <a href="https://www.google.co.nz/maps/@{{lat}},{{lng}},3916m/data=!3m1!1e3?hl=en">map</a></li>
  {{/each}}
</ul>
