<h1>Circuits</h1>
<div class="circuit-list">
  <table>
    <thead>
      <tr>
        <th>Country</th>
        <th>Circuit name</th>
        <th>Map</th>
      </tr>
    </thead>
    {{#each circuits}}
      <tr>
        <td>{{country}}</td>
        <td><a href="{{url}}">{{name}}</a></td>
        <td><a href="https://www.google.co.nz/maps/@{{lat}},{{lng}},3916m/data=!3m1!1e3?hl=en">View</a></td>
      </tr>
    {{/each}}
  </table>
</div>
