<h1>Starting Grid</h1>
<h3>{{raceYear}} {{raceName}}</h3>

<table>
  <thead>
    <th>Position</th>
    <th>Driver</th>
    <th>Team</th>
  </thead>
  <tbody>

    {{#each gridData}}
      <tr>
        <td><strong>{{grid}}</strong></td>
        <td><a href={{driver-url}}>{{forename}} {{surname}}</a></td>
        <td><a href={{constructorUrl}}>{{constructorName}}</a></td>
      </tr>
    {{/each}}

  </tbody>
</table>
