<h1>Qualifying results</h1>
<h3>{{raceName}}</h3>

<table>
  <thead>
    <th>Position</th>
    <th>Driver</th>
    <th>Team</th>
    <th>Q1</th>
    <th>Q2</th>
    <th>Q3</th>

  </thead>
  <tbody>

    {{#each qualifyingData}}
      <tr>
        <td><strong>{{position}}</strong></td>
        <td><a href={{url}}>{{forename}} {{surname}}</a></td>
        <td><a href={{constructorUrl}}>{{constructorName}}</a></td>
        <td>{{q1}}</td>
        <td>{{q2}}</td>
        <td>{{q3}}</td>
      </tr>
    {{/each}}

  </tbody>
</table>
