<h1>The {{season.[0].year}} Formula 1 Season</h1>

  {{#each season}}
    <div class="row">
      <div class="twelve columns round">
        <h3>Round {{round}} - {{name}}</h3>
        <p>{{date}}</p>
        <p><a href="/season/{{year}}/{{raceId}}/qualifying">Qualifying results</a></p>
        <p><a href="/season/{{year}}/{{raceId}}/grid">Starting grid</a></p>
        <p><a href="/season/{{year}}/{{raceId}}/laptimes">Laptimes</a></p>

        <p><a href="{{races-url}}">{{year}} {{name}} on Wikipedia</a></p>
      </div>
    </div>
  {{/each}}
